body {
  background-color: black;
  margin: 0;
  scroll-behavior: smooth;
  font-family: sans-serif;
  letter-spacing: -0.1ch;
  line-height: 1.38ex;
}

html {
  scroll-behavior: smooth;
}

[hidden] {
  display: none;
}

section {
  min-height: 40vh;
  background: gray;
}

zac-zac {
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
}

zac-pro {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  min-height: 100%;
  padding-top: 20vh;
  padding-bottom: 20vh;
  margin: 0 auto;
}

zac-pro img {
  width: 600px;
  height: auto;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}

zac-case {
  z-index: 1;
  position: sticky;
  top: 30vh;
  margin-bottom: 30vh;
}

zac-inside {
  position: sticky;
  top: 20vh;
}

zac-inside {
  margin-bottom: 25vh;
}

zac-intro {
  position: sticky;
  margin-bottom: 20vh;
  font-size: 6vw;
  font-weight: bold;
  top: 30vh;
  display: flex;
  /* bottom: 60vh; */
  margin-bottom: 40vh;
  width: 100%;
  line-height: 1;
  justify-content: center;
}

zac-stripes {
  display: flex;
  justify-content: space-between;
  padding: 20vw 5vw;
  width: 1100px;
  margin: 0 auto;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(300px);
}

zac-stripe {
  width: calc(100% / 3);
  height: 90vh;
  position: sticky;
  background: url(/EP:02/img/stripe-portrait.jpeg) no-repeat fixed center/1100px;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-sizing: border-box;
  scroll-snap-align: start;
  transform: scale(0.9) skewX(-10deg);
  mix-blend-mode: color;
}

zac-stripe::before {
  content: attr(data-nr);
  display: flex;
  font-size: 180px;
  line-height: 1;
  color: white;
  position: sticky;
  top: 20%;
  font-weight: bold;
  mix-blend-mode: color-dodge;
  margin-top: -200px;
  width: 100%;
  justify-content: center;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 2;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #b933f9, #5f19dd);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  transform: skewX(10deg);
}

zac-stripe::after {
  content: "";
  width: 100%;
  height: 60%;
  background: red;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #b933f9, #5f19dd);
  mix-blend-mode: color-dodge;
  background-attachment: fixed;
  background-size: 200%;
  display: flex;
  position: sticky;
  top: 10%;
  left: 0;
  margin-top: 60vh;
  margin-left: 0px;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(1, -0.58, 0, 1.86);
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  animation-name: glitch;
}

zac-stripe:nth-child(2)::after {
  animation-delay: 0.1s;
  animation-direction: alternate-reverse;
}

zac-stripe:nth-child(3)::after {
  animation-delay: 0.7s;
  animation-direction: alternate-reverse;
}

zac-stripe:nth-child(1) {
  top: 30vh;
  margin-top: 15vh;
  margin-bottom: 40vh;
}

zac-stripe:nth-child(2) {
  top: 50vh;
  margin-top: 5vh;
  margin-bottom: 30vh;
}
zac-stripe:nth-child(3) {
  top: 20vh;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

zac-stripe:nth-child(1)::before {
  top: 30vh;
  margin-bottom: -30vh;
}
zac-stripe:nth-child(2)::before {
  top: 10vh;
  margin-bottom: -20vh;
}
zac-stripe:nth-child(3)::before {
  top: 20vh;
  margin-bottom: -40vh;
}

@keyframes glitch {
  0% {
    opacity: 1;
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  2% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  4% {
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  6% {
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  8% {
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  10% {
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  12% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  14% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  16% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  18% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  20% {
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  21.9% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  28% {
    opacity: 1;
  }
  82%,
  100% {
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

front-cta {
  width: 100%;
  background-color: black;
  display: flex;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 350vh;
  --area: 100vh;
  --object: 100vh;
  font-size: 200px;

  --text-height: 15vh;
  --text-margin: 42vh;
  --text-top: 42vh;
}

frost-text {
  color: #6b76ff2e;
  z-index: 0;
  height: 100%;
  position: sticky;
  top: var(--text-top);
  height: var(--text-height);
  box-sizing: border-box;
  line-height: 1;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: var(--text-margin);
  font-weight: 900;
  background-image: linear-gradient(
    to bottom,
    #ffa63d,
    #ff3d77,
    #b933f9,
    #5f19dd,
    rgb(98 212 33 / 0%) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background-size: 200px;
  background-position: bottom center;
  background-repeat: repeat;
  background-attachment: fixed;
}

frost-bg {
  --gloss-width: 2ch;
  display: flex;
  width: var(--gloss-width);
  height: 100%;
  position: sticky;
  z-index: 1;
  transform: skewX(-30deg) translate(-3ch, calc(-4 * var(--text-height)));
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    black 50%,
    rgba(0, 0, 0, 0)
  );
  mix-blend-mode: overlay;
  box-shadow: 10vw 0 50px 0 black, -10vw 0 50px 0 white, 20vw 0 0 -10px white;
  filter: blur(20px);
}

stick-list {
  display: flex;
  width: 100%;
  color: white;
  /* background: black; */
  backdrop-filter: blur(20px);
  flex-direction: column;
  line-height: 1.38;
  position: relative;
}

stick-letter {
  font-weight: bold;
  font-size: 10vw;
  position: sticky;
  top: 5vw;
  height: min-content;
  margin-right: 5vw;
}

stick-item {
  max-width: 1100px;
  margin: 5vw auto;
  display: flex;
}

stick-content {
  display: flex;
  flex-direction: column;
}

stick-title {
  font-weight: bold;
  font-size: 10vw;
}

stick-text {
  font-size: 2vw;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #b933f9, #5f19dd);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

header {
  display: flex;
  font-size: 20px;
  width: 100%;
  height: 50px;
  position: sticky;
  z-index: 14;
  top: 0;
  backdrop-filter: blur(40px);
}

stick-gallery {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

stick-gallery::after {
  content: "";
  width: 100%;
  height: 50vh;
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(to top, black, transparent);
  display: flex;
  pointer-events: none;
}

figure {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  /* transform: scale(0.6) rotate3d(160, 90, 20, 40deg); */
}

figure:nth-child(1) > * {
  transform: scale(0.6) rotate(-4deg);
}
figure:nth-child(2) > * {
  transform: scale(0.6) rotate(-8deg);
}
figure:nth-child(3) > * {
  transform: scale(0.6) rotate(-12deg);
}
figure:nth-child(4) > * {
  transform: scale(0.6) rotate(-16deg);
}
figure:nth-child(5) img {
  transform: scale(0.6) rotate(-20deg);
}
figure:nth-child(6) img {
  transform: scale(0.6) rotate(-24deg);
}
figure:nth-child(7) img {
  transform: scale(0.6) rotate(-28deg);
}
figure:nth-child(8) img {
  transform: scale(0.6) rotate(-32deg);
}
figure:nth-child(9) img {
  transform: scale(0.6) rotate(-36deg);
}
figure:nth-child(10) img {
  transform: scale(0.6) rotate(-40deg);
}

figure img,
figure video,
figure iframe {
  width: 100vmin;
  height: 100vmin;
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* transform: rotate3d(0.9, -2, 0, 35deg); */
  box-shadow: 0 0 60px black;
  border-radius: 20px;
  object-fit: cover;
  outline: none;
}

/* * {
  box-shadow: 0 0 0 1px red;
} */
