css-gallery {
  display: grid;
  position: relative;
  background: black;
  place-items: center;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 0),
    radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  background-attachment: fixed;
  counter-reset: gallery;
}

gallery-item {
  --transform: scale(0.6) rotate(var(--rotate, 0));
  position: sticky;
  aspect-ratio: 1 / 1;
  display: flex;
  transform: var(--transform);
  /* box-shadow: 10px -10px 40px black; */
  transition: var(--transition);
  top: 0;
  /* background-color: black; */
  box-sizing: border-box;
  width: 100vmin;
  height: 100vmin;
  pointer-events: none;
  justify-content: center;
}

gallery-item > * {
  outline: none;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: calc(var(--base) / 5) !important;
}

gallery-item:hover {
  transform: scale(0.8) rotate(0) translatex(-3ch);
  position: sticky;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  margin-right: -3ch;
  border-radius: 20px;
  top: 0;
}

gallery-item:hover > * {
  aspect-ratio: 16 / 9;
  display: block;
}
gallery-item:after {
  content: "0" counter(gallery) " ";
  display: flex;
  align-items: center;
  height: 2ch;
  width: 2ch;
  border-radius: 400px;
  padding: 1ch;
  backdrop-filter: blur(100px);
  color: white;
  font-size: calc(var(--base) / 4);
  position: sticky;
  top: var(--nr-top);
  /* margin-bottom: 10ch; */
  margin-top: 4ch;
  counter-increment: gallery;
  font-weight: bold;
  transform: rotate(calc(var(--rotate) * -1)) scale(2);
  z-index: 10;
  transition: var(--transition);
}

gallery-item:before {
  content: "z";
  color: white;
  display: flex;
  width: 220px;
  height: 220px;
  z-index: 10;
  pointer-events: initial;
  position: absolute;
  font-size: var(--base);
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0 0 0 100px transparent;
}

gallery-item:hover:before {
  width: 100vw;
  height: 100vh;
  background: none;
  backdrop-filter: blur(100px);
  z-index: -1;
  position: fixed;
}
gallery-item:hover ~ gallery-item {
  filter: blur(400px);
  /* opacity: 0.2; */
  transform: translate(2vh, 2vh) scale(10);
  z-index: 0;
}
[g1] {
  --rotate: -4deg;
  --nr-top: 6ch;
  /* --nr-z: 1; */
}

[g2] {
  --rotate: -8deg;
  --nr-top: 10ch;
  /* --nr-z: 2; */
}
[g3] {
  --rotate: -12deg;
  --nr-top: 14ex;
  /* --nr-z: 3; */
}
[g4] {
  --rotate: -16deg;
  --nr-top: 18ex;
  /* --nr-z: -4; */
}

/* thisisiss  */
/* thisisiss  */
/* thisisiss  */
/* thisisiss  */
/* thisisiss  */
/* thisisiss  */
/* thisisiss  */
/* thisisiss  */
/* thisisiss  */

stick-gallery {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

stick-gallery::after {
  content: "";
  width: 100%;
  height: 50vh;
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(to top, black, transparent);
  display: flex;
  pointer-events: none;
}

figure {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1100px;
  height: 1100px;
  box-shadow: 0 0 60px black;
  border-radius: 20px;
  overflow: hidden;
  /* aspect-ratio: 16 / 9; */
  /* transform: scale(0.6) rotate3d(160, 90, 20, 40deg); */
  background-color: white;
  transition: var(--transition);
  /* will-change: transform; */
}

figure:hover {
  transform: scale(0.8) rotate(0);
}

figure:nth-child(1) {
  transform: scale(0.6) rotate(-4deg);
}
figure:nth-child(2) {
  transform: scale(0.6) rotate(-8deg);
}
figure:nth-child(3) {
  transform: scale(0.6) rotate(-12deg);
}
figure:nth-child(4) {
  transform: scale(0.6) rotate(-16deg);
}

figure img,
figure video,
figure iframe {
  /* width: 100vmin; */
  /* height: 100vmin; */
  width: 100%;
  height: 100%;
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* transform: rotate3d(0.9, -2, 0, 35deg); */

  object-fit: cover;
  outline: none;
}

figure::after {
  content: " ";
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to top, #ff3d77, transparent);
  mix-blend-mode: overlay;
  pointer-events: none;
}
