css-gallery {
  display: grid;
  position: relative;
  background: black;
  place-items: center;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 0),
    radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  background-attachment: fixed;
  counter-reset: gallery;
}

gallery-item {
  --transform: scale(0.6) rotate(var(--rotate, 0));
  position: sticky;
  aspect-ratio: 1 / 1;
  display: flex;
  transform: var(--transform);
  /* box-shadow: 10px -10px 40px black; */
  transition: var(--transition);
  top: 0;
  /* background-color: black; */
  box-sizing: border-box;
  width: 100vmin;
  height: 100vmin;
  pointer-events: none;
  justify-content: center;
  --radius: calc(var(--base) / 5);
}

gallery-item > * {
  outline: none;
  /* aspect-ratio: 1 / 1; */
  object-fit: cover;
  border-radius: var(--radius);
  width: 100%;
  height: 100%;
}

gallery-item:hover {
  transform: scale(0.8) rotate(0);
  /* position: s; */
  aspect-ratio: none;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  --radius: 10px;
}
gallery-item:hover:after {
  position: sticky;
  /* top: unset; */
  bottom: 10vh;
  /* right: 10vh; */
  pointer-events: none;
  transform: rotate(0);
}
gallery-item:hover > * {
  /* aspect-ratio: 16 / 9; */
  display: block;
  overflow: hidden;
}
gallery-item:after {
  content: "0" counter(gallery) " ";
  display: flex;
  align-items: center;
  height: 2ch;
  width: 2ch;
  border-radius: 400px;
  padding: 1ch;
  backdrop-filter: blur(100px);
  color: white;
  font-size: calc(var(--base) / 4);
  position: sticky;
  top: var(--nr-top);
  /* margin-bottom: 10ch; */
  margin-top: 4ch;
  counter-increment: gallery;
  font-weight: bold;
  transform: rotate(calc(var(--rotate) * -1)) scale(2);
  z-index: 10;
  transition: var(--transition);
}

gallery-item:before {
  content: "";
  color: white;
  display: flex;
  width: 220px;
  height: 220px;
  z-index: 10;
  pointer-events: initial;
  position: absolute;
  font-size: var(--base);
  top: 0;
  left: 0;
  background: white;
}

gallery-item:hover:before {
  width: 100vw;
  height: 100vh;
  background: none;
  backdrop-filter: none;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

gallery-item:hover ~ gallery-item:after {
  content: "";
  display: flex;
  position: absolute;
  width: 120vw;
  height: 100%;
  border-radius: 0;
  backdrop-filter: blur(30px) grayscale(100);
  /* background: red; */
  background: linear-gradient(to bottom, transparent, black 90%);
  top: 0;
  left: 0;
  z-index: 10;
}

gallery-item:hover > * {
  box-shadow: 0 0 400px 200px black;
}

[g1] {
  --rotate: -4deg;
  --nr-top: 6ch;
  /* --nr-z: 1; */
}

[g2] {
  --rotate: -8deg;
  --nr-top: 10ch;
  /* --nr-z: 2; */
}
[g3] {
  --rotate: -12deg;
  --nr-top: 14ex;
  /* --nr-z: 3; */
}
[g4] {
  --rotate: -16deg;
  --nr-top: 18ex;
  /* --nr-z: -4; */
}

css-gallery::after {
  content: "";
  width: 100%;
  height: 50vh;
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(to top, black, transparent);
  display: flex;
  pointer-events: none;
}
