css-gallery {
  display: grid;
  position: relative;
  background: black;
  place-items: center;
  color: white;
  counter-reset: gallery;
}

gallery-item {
  --scale: 0.6;
  --transform: scale(var(--scale)) rotate(var(--rotate, 0));
  position: sticky;
  display: flex;
  transform: var(--transform);
  transition: var(--transition);
  top: 0;
  box-sizing: border-box;
  width: 100vmin;
  height: 100vmin;
  justify-content: center;
  --radius: calc(var(--base) / 5);
  margin-bottom: 10vh;
}

gallery-item > * {
  outline: none;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--radius);
  width: 100%;
  height: 100%;
  box-shadow: 60px 0 180px 5px black, 0 -100px 280px black;
  transition: var(--transition);
}

[wide]:checked ~ gallery-item {
  --scale: 1;
  --rotate: 0;
  --radius: 10px;
  aspect-ratio: 16 / 9 !important;
  top: 10vh;
  z-index: 10;
  width: 80vw;
  object-fit: cover;
  height: 80vmin;
}
[wide]:checked ~ gallery-item > * {
  aspect-ratio: 16 / 9 !important;
}

[wide]:checked ~ gallery-item:after {
  top: calc(var(--nr-top) + 10vmin);
}

gallery-item:after {
  content: "0" counter(gallery) " ";
  display: flex;
  align-items: center;
  height: 2ch;
  width: 2ch;
  border-radius: 400px;
  padding: 1ch;
  backdrop-filter: blur(100px);
  color: white;
  font-size: calc(var(--base) / 4);
  position: sticky;
  top: var(--nr-top);
  margin-top: 5vh;
  margin-bottom: 20vh;
  counter-increment: gallery;
  font-weight: bold;
  transform: rotate(calc(var(--rotate) * -1)) scale(2);
  z-index: 10;
  transition: var(--transition);
}

[g1] {
  --rotate: -4deg;
  --nr-top: 10vmin;
}

[g2] {
  --rotate: -8deg;
  --nr-top: 20vmin;
}
[g3] {
  --rotate: -12deg;
  --nr-top: 30vmin;
}
[g4] {
  --rotate: -16deg;
  --nr-top: 40vmin;
}

css-gallery::after {
  content: "";
  width: 100%;
  height: 50vh;
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(to top, black, transparent);
  display: flex;
  pointer-events: none;
}

[wide] {
  display: flex;
  position: sticky;
  top: calc(100% - 90px);
  right: 80px;
  z-index: 100;
  outline: none;
  width: 40px;
  height: 40px;
  justify-self: right;
  appearance: none;
  cursor: var(--cursor-dark-hover);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M3 3H9V5H5V9H3V3Z' /%3E%3Cpath d='M3 21H9V19H5V15H3V21Z' /%3E%3Cpath d='M15 21H21V15H19V19H15V21Z' /%3E%3Cpath d='M21 3H15V5H19V9H21V3Z' /%3E%3C/svg%3E")
    no-repeat center/24px;
}

[wide]:checked {
  z-index: 100;
}

[wide]:checked ~ gallery-item {
  margin-bottom: 80vh;
}
