slide-wrapper {
  overflow: hidden;
  height: 100vh;
  display: flex;
  position: relative;
  background: #f2f2f2;
  color: black;
  bottom: 0;
}

horizontal-slide {
  width: 100vh;
  height: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  transform-origin: right top;
  transform: rotate(-90deg) translate3d(0, -100vh, 0);
  overflow: overlay;
}

slide-item {
  width: max-content;
  height: 100vh;
  transform-origin: left top;
  transform: rotate(90deg) translate3d(0, -100vh, 0) scaleX(1);
  display: flex;
  align-items: center;
  position: sticky;
  font-size: calc(var(--base) / 2);
  font-weight: bold;
  letter-spacing: -0.1ch;
}

slide-item img {
  height: 40vmin;
}

[s0] { top: 50vh }
[s1] { top: 49vh }
[s2] { top: 95vh }
[s3] { top: 128vh }
[s4] { top: 148vh }
[s6] { top: 35vw }

[s5] {
  background: linear-gradient(to right, transparent, #f2f2f2 40%);
  margin-top: 10vh;
  width: 350vh;
  backdrop-filter: blur(10px);
}



horizontal-slide::-webkit-scrollbar {
  appearance: none;
}
