:root {
	--base: 20vmin;
	--transition: all 0.2s;
	--cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	--gradient: linear-gradient(-45deg, #ffa63d, #ff3d77, #b933f9, #5f19dd);
	--gradient-alternate: linear-gradient(to bottom, #ffa63d, #ff3d77, #b933f9, #5f19dd, rgb(98 212 33 / 0%) 100%);
	--scroll-negative: black;
	--scroll-positive: white;
	--cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='black'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3C/svg%3E") 20 0, auto;
	--cursor-hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='1'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3C/svg%3E") 20 0, auto;
	--cursor-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='white'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3C/svg%3E") 20 0, auto;
	--cursor-dark-hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='1'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3C/svg%3E") 20 0, auto;
	--pattern-color: rgba(255, 255, 255, 0.1);
	--pattern: linear-gradient(to bottom, black 50%, transparent) no-repeat fixed center top/auto calc(var(--base) * 2), radial-gradient(var(--pattern-color) 1px, transparent 0) 0 0 / 40px 40px, radial-gradient(var(--pattern-color) 1px, transparent 0) 20px 20px / 40px 40px;
  --scroll-color: rgba(255, 255, 255, 0.1);
	--scroll-design: radial-gradient(farthest-side, transparent calc(90% - 6px), var(--scroll-negative), transparent, var(--scroll-positive), transparent) no-repeat center / 20px 20px, linear-gradient(to bottom, transparent, var(--scroll-color) 4px) no-repeat center / 4px 120%, radial-gradient(farthest-side, transparent calc(90% - 2px), var(--scroll-color), transparent) no-repeat center/40px 40px, radial-gradient(farthest-side, white calc(90% - 12px), transparent) no-repeat center/6px 6px;
}

body {
	background-color: black;
	margin: 0;
	font-family: sans-serif;
	letter-spacing: -0.1ch;
	line-height: 1;
	overflow: overlay;
	scroll-behavior: smooth;
}

html {
	scroll-behavior: smooth;
}

body::-webkit-scrollbar-track {
	pointer-events: none;
	background: linear-gradient(to bottom, transparent, var(--scroll-color) 1px) no-repeat center / 1px 90%;
}

body::-webkit-scrollbar {
	width: 100px;
	height: 100%;
}

body::-webkit-scrollbar-thumb {
	background: var(--scroll-design);
}

body::-webkit-scrollbar-thumb:hover {
	--color: red;
}

[hidden] {
	display: none;
}

body {
	cursor: var(--cursor-dark);
}

[cursor]:hover {
	cursor: var(--cursor-dark-hover);
}

bg-white[cursor]:hover {
	cursor: var(--cursor-hover);
}

bg-white {
	background: white;
	display: flex;
	cursor: var(--cursor) !important;
	flex-direction: column;
	width: 100%;
}

bg-black {
	background-color: black;
	display: flex;
	position: relative;
}

@keyframes glitch {
	0%  				{ clip-path: polygon(	0 2%, 100% 2%, 100% 5%, 0 5%); opacity: 1	}
	2%  				{ clip-path: polygon(	0 15%, 100% 15%, 100% 15%, 0 15%) 				}
	4%  				{ clip-path: polygon(	0 10%, 100% 10%, 100% 20%, 0 20%) 				}
	6%  				{ clip-path: polygon(	0 1%, 100% 1%, 100% 2%, 0 2%) 						}
	8%  				{ clip-path: polygon(	0 33%, 100% 33%, 100% 33%, 0 33%)					}
	10% 				{ clip-path: polygon(	0 44%, 100% 44%, 100% 44%, 0 44%)					}
	12% 				{ clip-path: polygon(	0 50%, 100% 50%, 100% 20%, 0 20%)					}
	14% 				{ clip-path: polygon(	0 70%, 100% 70%, 100% 70%, 0 70%)					}
	16% 				{ clip-path: polygon(	0 80%, 100% 80%, 100% 80%, 0 80%)					}
	18% 				{ clip-path: polygon(	0 50%, 100% 50%, 100% 55%, 0 55%)					}
	20% 				{ clip-path: polygon(	0 70%, 100% 70%, 100% 80%, 0 80%)					}
	21.9% 			{ clip-path: polygon(	0 50%, 100% 50%, 100% 55%, 0 55%)					}
	28% 				{ opacity: 1 																										}
	82%, 100% 	{ clip-path: polygon( 0 0, 0 0, 0 0, 0 0); opacity: 0						}
}