body {
  margin: 0;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

am-logo {
  width: 88px;
  height: 40px;
  position: relative;
}

am-stripe {
  position: absolute;
  width: 8px;
  height: 100%;
  background: currentColor;
  animation: am 1.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite
    alternate-reverse both;
}

am-stripe:nth-child(1) {
  transform: translate3d(0, 0, 0) scale(1) rotate(0deg);
}
am-stripe:nth-child(2) {
  transform: translate3d(16px, 0, 0);
  animation-delay: 0.1s;
}
am-stripe:nth-child(3) {
  transform: translate3d(32px, 0, 0);
  animation-delay: 0.2s;
}
am-stripe:nth-child(4) {
  transform: translate3d(48px, 0, 0);
  animation-delay: 0.3s;
}
am-stripe:nth-child(5) {
  transform: translate3d(64px, 0, 0);
  animation-delay: 0.4s;
}
am-stripe:nth-child(6) {
  transform: translate3d(80px, 0, 0);
  animation-delay: 0.5s;
}

@keyframes am {
  to {
    transform: translate3d(20px, 0, 0) scale(0.8) rotate(4deg);
  }
}
