body {
  background-color: black;
  margin: 0;
  font-family: sans-serif;
  letter-spacing: -0.1ch;
  line-height: 1;
  overflow: overlay;
  /* IF you customize the scrollbar this will make it go above content and not as usually to push it */
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 100px;
  height: 100%;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background: url(img/gif.webp) no-repeat center/cover;
  box-shadow: none;
  border: none !important;
  cursor: pointer;
  height: 100px;
  border-radius: 100px;
}

[hidden] {
  display: none;
}

section {
  min-height: 40vh;
  background: gray;
}

@keyframes glitch {
  0% {
    opacity: 1;
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  2% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  4% {
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  6% {
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  8% {
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  10% {
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  12% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  14% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  16% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  18% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  20% {
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  21.9% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  28% {
    opacity: 1;
  }
  82%,
  100% {
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

.cursor:hover {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='black' filter %3E%3Ccircle cx='12' cy='12' r='10'/%3E%3C/svg%3E")
      20 0,
    auto;
}

/* body {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='black' stroke-width='2'%3E%3Cdefs%3E%3Cfilter id='blend' x='0' y='0' width='100%' height='100%'%3E%3Ccircle cx='12' cy='12' r='10' id='cursor'/%3E  %3CfeBlend mode='exclude' in='cursor'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23blend)'/%3E%3C/svg%3E")
      10 0,
    auto;
} */

/* <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" >
<defs>
<filter id="blend" x="0" y="0" width="100%" height="100%">
<circle cx="12" cy="12" r="10" id="cursor"></circle>
  <feBlend mode="multiply" in="cursor" />
</filter>
</defs>
<g filter="url(#blend)"></g>
</svg> */

/* * {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cstyle%3E circle %7B mix-blend-mode: exclude; %7D %3C/style%3E %3Ccircle cx='12' cy='12' r='10' fill='black'/%3E %3C/svg%3E")
      20 0,
    auto;
} */
