:root {
  --base: 20vmin;
  --transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --gradient: linear-gradient(-45deg, #ffa63d, #ff3d77, #b933f9, #5f19dd);
}

css-bg {
  background: white;
  display: flex;
  justify-content: center;
}

/* aspect-ratio: 16 / 9; */
/* aspect-ratio: 16 / 9; */
/* aspect-ratio: 16 / 9; */
/* aspect-ratio: 16 / 9; */
/* aspect-ratio: 16 / 9; */
/* aspect-ratio: 16 / 9; */
/* aspect-ratio: 16 / 9; */
/* aspect-ratio: 16 / 9; */
/* aspect-ratio: 16 / 9; */
/* aspect-ratio: 16 / 9; */

/* will-change on th gallery section */
/* will-change on th gallery section */
/* will-change on th gallery section */
/* will-change on th gallery section */
/* will-change on th gallery section */
/* will-change on th gallery section */

css-pro {
  background: white;
  display: grid;
  width: calc(var(--base) * 3);
  padding-bottom: calc(var(--base) * 2);
  grid-gap: var(--base);
}

css-pro img {
  width: 100%;
}

css-title {
  font-size: calc(var(--base) / 2);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--base) * 2);
  position: sticky;
  top: var(--base);
}

css-case {
  position: sticky;
  top: var(--base);
  z-index: 1;
}

css-inside {
  position: sticky;
  top: calc(var(--base) - 8vmin);
  margin-bottom: -6vmin;
}

/* Stripes  */

css-stripes {
  --base: 24vmin;
  --width: calc(var(--base) * 4);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  width: var(--width);
  height: 200vh;
  padding-top: var(--base);
}

css-stripe {
  background: url(img/stripe-portrait.jpeg) no-repeat fixed center/var(--width);
  transform: scale(0.9) skewX(-10deg);
  position: sticky;
  height: calc(var(--base) * 5);
  transition: var(--transition);
  cursor: pointer;
}

css-stripe:hover {
  transform: scale(1) skewX(-10deg);
  background-position: center -20px;
}

css-stripe:hover::before {
  transform: skewX(10deg) translate(0.5ch, -0.5ch);
}

[col1] {
  top: 30vh;
  margin-top: 15vh;
  margin-bottom: 40vh;
}

[col2] {
  top: 40vh;
  margin-top: 5vh;
  margin-bottom: 30vh;
}

[col3] {
  top: 25vh;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

[col1]::before {
  top: 35vh;
}

[col2]::before {
  top: 45vh;
}

[col3]::before {
  top: 35vh;
}

css-stripe::before {
  content: attr(data-title);
  display: flex;
  font-size: calc(var(--base) / 2);
  font-weight: bold;
  color: white;
  background-clip: text;
  margin-bottom: -30vh;
  position: sticky;
  transform: skewX(10deg) translate(0.5ch, -2ch);
  transition: var(--transition);
  display: flex;
  justify-content: center;
  pointer-events: none;
  background: var(--gradient) no-repeat fixed center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  mix-blend-mode: color-dodge;
}

css-stripe::after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--gradient) no-repeat center/200%;
  mix-blend-mode: color-dodge;
  display: flex;
  position: relative;
  animation: glitch 4s cubic-bezier(1, -0.58, 0, 1.86) infinite backwards;
  top: 20%;
  transform: scaleX(10deg);
}

[col2]::after {
  animation-delay: 0.1s;
  animation-direction: alternate-reverse;
}

[col3]::after {
  animation-delay: 0.7s;
}

css-stripe:hover::after {
  animation-play-state: paused;
}

/* frost section  */

front-cta {
  width: 100%;
  background-color: black;
  display: flex;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 350vh;
  --area: 100vh;
  --object: 100vh;
  font-size: 200px;

  --text-height: 15vh;
  --text-margin: 42vh;
  --text-top: 42vh;
}

frost-text {
  color: #6b76ff2e;
  z-index: 0;
  height: 100%;
  position: sticky;
  top: var(--text-top);
  height: var(--text-height);
  box-sizing: border-box;
  line-height: 1;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: var(--text-margin);
  font-weight: 900;
  background-image: linear-gradient(
    to bottom,
    #ffa63d,
    #ff3d77,
    #b933f9,
    #5f19dd,
    rgb(98 212 33 / 0%) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background-size: 200px;
  background-position: bottom center;
  background-repeat: repeat;
  background-attachment: fixed;
}

frost-bg {
  --gloss-width: 2ch;
  display: flex;
  width: var(--gloss-width);
  height: 100%;
  position: sticky;
  z-index: 1;
  transform: skewX(-30deg) translate(-3ch, calc(-4 * var(--text-height)));
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    black 50%,
    rgba(0, 0, 0, 0)
  );
  mix-blend-mode: overlay;
  box-shadow: 10vw 0 50px 0 black, -10vw 0 50px 0 white, 20vw 0 0 -10px white;
  filter: blur(20px);
}

stick-list {
  display: flex;
  width: 100%;
  color: white;
  /* background: black; */
  backdrop-filter: blur(20px);
  flex-direction: column;
  line-height: 1.38;
  position: relative;
}

stick-letter {
  font-weight: bold;
  font-size: 10vw;
  position: sticky;
  top: 5vw;
  height: min-content;
  margin-right: 5vw;
}

stick-item {
  max-width: 1100px;
  margin: 5vw auto;
  display: flex;
}

stick-content {
  display: flex;
  flex-direction: column;
}

stick-title {
  font-weight: bold;
  font-size: 10vw;
}

stick-text {
  font-size: 2vw;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #b933f9, #5f19dd);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

header {
  display: flex;
  font-size: 20px;
  width: 100%;
  height: 50px;
  position: sticky;
  z-index: 14;
  top: 0;
  backdrop-filter: blur(40px);
}

stick-gallery {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

stick-gallery::after {
  content: "";
  width: 100%;
  height: 50vh;
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(to top, black, transparent);
  display: flex;
  pointer-events: none;
}

figure {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1100px;
  height: 1100px;
  box-shadow: 0 0 60px black;
  border-radius: 20px;
  overflow: hidden;
  /* transform: scale(0.6) rotate3d(160, 90, 20, 40deg); */
  background-color: white;
}

figure:nth-child(1) {
  transform: scale(0.6) rotate(-4deg);
}
figure:nth-child(2) {
  transform: scale(0.6) rotate(-8deg);
}
figure:nth-child(3) {
  transform: scale(0.6) rotate(-12deg);
}
figure:nth-child(4) {
  transform: scale(0.6) rotate(-16deg);
}

figure img,
figure video,
figure iframe {
  /* width: 100vmin; */
  /* height: 100vmin; */
  width: 100%;
  height: 100%;
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* transform: rotate3d(0.9, -2, 0, 35deg); */

  object-fit: cover;
  outline: none;
}

figure::after {
  content: " ";
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to top, #ff3d77, transparent);
  mix-blend-mode: overlay;
  pointer-events: none;
}

/* * {
  box-shadow: 0 0 0 1px red !important;
} */
